.list-group {
    padding-left: 0;
    margin-bottom: 0;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
}

.list-group-item {
  display: revert;
}

.highlight {
  background: #B3B3B3;
}

.job-name {
  width: 80%;
  text-align: left;
}

.job-stage {
  width: 20%;
  text-align: left;
}

#jobs-table input[type="radio"] {
  display:none;
}
