
<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="static/styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <script>
              function search(term) {
                  $.ajax({
                      method:"post",
                      url:"/livesearch",
                      data:{text:term},
                      success:function(res){
                          var data = "";
                          $.each(res,function(index,value){
                              data += "<tr class='list-group-item list-group-item-action'>";
                              data += "<td class='job-name'><input type='radio' class='form-control' id="+value.name+" name='job_name' value="+value.name+"><label for="+value.name+">"+value.name+"</label></td></tr>";
                          });
                          $("#jobs-table tbody").html(data);
                      }
                  });
              }
              $(document).ready(function(){
                  search("");
                  $("#livebox").on("input",function(e){
                    search($("#livebox").val());
                  });
              });
          </script>

          <script type="text/javascript">
          </script>
</head>
<body>
    <div class="container body-content">
<div class="container">


<p><h4>Environment</h4></p>
<form method="post">
<input class="form-control" type="text" placeholder="env name" name="env_name"></input>


<p><h4>Choose Job</h4></p>
<input type="text" id="livebox" placeholder="job name"></input>

<div id="table-container" class="list-group">
  <table id="jobs-table">
    <thead>
      <th class="job-name">Job name</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<button class="btn btn-primary" type="submit" formaction="{{ url_for('runJob')}}">Run Job</button>

<button class="btn" type="submit" formtarget="_blank" formaction="{{ url_for('fetchLambda')}}">Go to Lambda page</button>

<button class="btn btn-sec" type="submit" formaction="{{ url_for('lastExecution')}}">Check Last Execution</button>

<button type="submit" class="btn btn-sec" formaction="{{ url_for('createMarker')}}">Create Markers</button>

</form>
</div>



    </div>
</body>
</html>
